/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

 nav ul {
    border: 1px solid magenta;
    list-style: none;
 }

 nav li {
    border: 4px dotted orange;
 }

 nav a {
    border: 3px solid green;
 }

 nav a:hover {

 }