/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

 body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
 }

 /* ==========
    Typography
 ===========*/
h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
}


 header {
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
 }

 nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
 }

 nav li {
    border: 4px dotted orange;

    margin: 0 1em;
 }

 nav a {
    border: 3px solid green;
 }

 nav a:hover {

 }