/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

 body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
 }

 header {
    text-align: center;
    background: pink;
    padding: 2em 0;
 }

 nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
 }

 nav li {
    border: 4px dotted orange;

    margin: 0 1em;
 }

 nav a {
    border: 3px solid green;
 }

 nav a:hover {

 }